// ==============================
// Custom style
// 自定义样式
// ==============================

.archive {
  .single-title {
    text-align: left;
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
  }

  .categories-card {
    margin-top: -3rem;
  }
}

.single {
  .single-title {
    text-align: left;
    margin: 1rem 0 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
}